{% load static %}

<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'createDep/css/bootstrap.min.css' %}">
{#    <link rel="stylesheet" href="{% static 'createDep/css/bootstrap.min.css.map' %}">#}
{% block addCSS %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'createDep/js/bootstrap.min.js' %}"></script>
{#<script src="{% static 'createDep/js/bootstrap.min.js.map' %}"></script>#}
{% block addJS %}{% endblock %}
</body>
</html>