{% extends 'createDep/base.html' %}
{% load static %}
<html lang="ja">

{% block title %}
    部署作成
{% endblock %}

<head>
    {% block addCSS %}
        <link rel="stylesheet" href="{% static 'createDep/css/newDep.css' %}">
    {% endblock %}

    <title>list</title>
    <meta charset="UTF-8">
    {#    <link rel="stylesheet" href="../../static/createDep/css/bootstrap.min.css">#}
    {#    <link rel="stylesheet" href="../../static/createDep/css/bootstrap.min.css.map">#}
    {#    <link rel="stylesheet" href="../../static/createDep/css/newDep.css">#}
</head>

<body>
{% block body %}
    <div class="position-relative">
        <div class="d-grid gap-2 position-absolute top-50 start-50 translate-middle">
            <form action="{% url 'dep:create' %}" method="post">

                <h1>部署作成</h1>
                <input type="text" name="dep_name" id="" class="form-control-lg" placeholder="部署名">
                <button class="btn btn-secondary" onclick="location.href=&quot;{% url "dep:user-list" %}&quot;">所属社員
                </button>
                <div class=" group_btn d-flex justify-content-end">
                    <button class="btn btn-primary back_btn" value="back">戻る</button>
                    <button class="btn btn-primary create_btn" value="create">作成</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>#}
{#<script src="../../static/createDep/js/bootstrap.min.js"></script>#}
{#<script src="../../static/createDep/js/bootstrap.min.js.map"></script>#}
</body>
</html>