{% extends 'createDep/base.html' %}
<html lang="ja">

{% block title%}
役職選択
{% endblock %}

<head>
    {% block addCSS %}
        <!-- <link rel="stylesheet" href="{% static 'createDep/css/' %}"> -->
    {% endblock %}

    <title>position</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/createDep/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/createDep/css/bootstrap.min.css.map">
    <link rel="stylesheet" href="../../static/createDep/css/position.css">
</head>

<body>
    {% block body %}
    <div class="d-grid gap-2 center-block">
        <h1>役職選択</h1>
        <a href="#" class="link">社員の部署割り当てを解除する場合はこちら</a>
        <button class="btn btn-primary" type="button">
            <div class="div_in_position_name">部長 :</div>
            <div class="div_in_text">
                <div class="text align-middle"><span></span></div>
            </div>
        </button>
        <button class="btn btn-primary" type="button">
            <div class="div_in_position_name">主任 :</div>
            <div class="div_in_text">
                <div class="text align-middle">現在<span></span>名</div>
            </div>
        </button>
        <button class="btn btn-primary" type="button">
            <div class="div_in_position_name">一般社員 :</div>
            <div class="div_in_text">
                <div class="text align-middle">現在<span></span>名</div>
            </div>
        </button>
        <button class="btn back_btn float-end">戻る</button>
    </div>
    {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../../static/createDep/js/bootstrap.min.js"></script>
    <script src="../../static/createDep/js/bootstrap.min.js.map"></script>
</body>
</html>