{% load static %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>社員選択</title>
    <link rel="stylesheet" href="{% static 'createDep/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'createDep/css/bootstrap.min.css.map' %}">
    <link rel="stylesheet" href="{% static 'createDep/css/selectUser.css' %}">

    <!-- <link rel="stylesheet" href="../../static/createDep/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/createDep/css/bootstrap.min.css.map">
    <link rel="stylesheet" href="../../static/createDep/css/selectUser.css"> -->

</head>
<body>
<div class="table_div">
    <h2>社員一覧</h2>
    <table class="table table-bordered">
        <tr class="th_row">
            <th class="th_id th">社員ID</th>
            <th class="th_name th">名前</th>
            <th class="th_dep th">部署</th>
            <th class="th_position th">役職</th>
            <th class="th_lift th">解除</th>
        </tr>
        <tr class="tr_main">
            <td class="td_id">00000000</td>
            <td class="td_name">有原隆乃介</td>
            <td class="td_dep">企業連携事業部</td>
            <td class="td_position">常務取締役</td>
            <td class="td_lift form-check"><input type="checkbox" class="form-check-input" value=""></td>
        </tr>
    </table>
</div>
<div class="search_div">
    <h2>検索</h2>
    <div class="form-check">
        <input type="text" class="form-control form-control-lg input_text" placeholder="名前">
        <div class="input_checkbox">
            <input type="checkbox" name="" id="check_from" class="form-check-input input_checkbox">
            <label class="form-check-label" for="check_from">
                未所属
            </label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-1">
        検索
    </button>
    <button type="submit" class="btn btn-primary btn-2">
        決定
    </button>
    <button type="submit" class="btn btn-primary btn-3">
        戻る
    </button>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- <script src="../../static/createDep/js/bootstrap.min.js"></script>
<script src="../../static/createDep/js/bootstrap.min.js.map"></script>
<script src="../../static/createDep/js/selectUser.js"></script> -->
<script src="{% static 'createDep/js/bootstrap.min.js' %}"></script>
<script src="{% static 'createDep/js/bootstrap.min.js.map' %}"></script>
<script src="{% static 'createDep/js/selectUser.js' %}"></script>
</body>
</html>