{% extends 'common/base.html' %}

{% block body %}
    <table>
        {% for user in user %}
            <tr>
                <td>{{ user.user_id }}</td>
                <td>{{ user.last_name }} {{ user.first_name }}</td>
                <td>{{ user.position.position_name }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}



{% for array in user_data %}
    <input type="submit" value="{{ array.set-value }}" src="{% url 'app-name:url-name' array.your-args %}"
           placeholder="記入者...">
{% endfor %}
{# ちなみに #}
{% for sub-array in user_data %}
    <button onclick="location.href=&quot;{% url 'app-name:url-name' sub-array.your-args %}&quot;">
        記入者...
        件名...
    </button>
{% endfor %}
{# buttonを使う方がデザインしやすい #}