.d-grid {
    width: 400px;
    border: solid 1px #707070;
    border-radius: 8px;
    padding: 40px 50px 50px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
    margin: auto;
    justify-content: center;
    h1 {
        width: 100%;
        color: #707070;
        text-align: center;
        margin: 0 0 40px 0;
        padding-top: 45px;
        padding-bottom: 35px;
        font-size: 35px;
    }
    input[type="text"], input[type="password"] {
        width: 100%;
        font-size: 21px;
        height: 35px;
        color: #707070;
        background-color: white;
        text-align: center;
        border: solid 1px #707070;
        border-radius: 8px;
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
        margin-bottom: 35px;
        &:focus {
            border: solid 1px #707070;
            outline: none;

        }
    }
    .btn {
        width: 30%;
        color: #707070;
        background-color: white;
        border: solid 1px #707070;
        border-radius: 8px;
        margin: 10px 0 0 auto;
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
        &:hover {
            color: white;
            background-color: #707070;
        }
        &:focus {
            outline: none;
            border: solid 1px #707070;
        }
    }

}