.d-grid {
  width: 560px;
  border: solid 1px #707070;
  border-radius: 8px;
  padding: 0 50px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);

  h1 {
    width: 100%;
    color: #707070;
    text-align: center;
    padding-top: 39px;
    padding-bottom: 39px;
  }

  .btn {
    height: 90px;
    background-color: #ffffff;
    color: #4D4D4D;
    border: solid 1px #707070;
    margin-bottom: 38px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
    display: flex;
    padding: 9px 9px 7px 9px;

    &:hover {
      border: 2px solid #707070;
    }

    &:last-child {
      margin-bottom: 50px;
    }

    div {
      width: 50%;
      height: 100%;
    }

    .div_in_dep_name {
      font-size: 33px;
      color: #4D4D4D;
      text-align: start;
      line-height: 2;

    }

    .div_in_text {
      color: #4D4D4D;

      div {
        width: 100%;
        height: 50%;
        margin: 0;
        padding: 0;
      }

      .director {
        font-size: 20px;
        text-align: start;
      }

      .error {
        text-align: center;
        font-size: 15px;
      }
    }
  }
}

.center-block {
  margin: auto;
}