{% load static %}

<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'topPage/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'topPage/css/bootstrap.min.css.map' %}">
    <link rel="stylesheet" href="{% static 'topPage/css/base.css' %}">
    {% block addCSS %}{% endblock %}
</head>

<body>
<header id="header" class="sticky-top">
    <div class="flex-row navbar align-items-center">
        <div id="header_title" class="col">
            <a href="{% url 'dep:top' %}">稟議書システム</a>
        </div>
        <div class="ml-auto d-flex right_row">
            <div class="col dropdown">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                        id="dropdown_button1" aria-expanded="false">
                    作成
                </button>
                {% if request.session.user_info.position_id == 6 or request.session.user_info.position_id == 5 %}
                    <ul class="dropdown-menu" aria-labelledby="dropdown_button2">
                        <li><a class="dropdown-item" href="{% url 'create:create' %}">稟議書</a></li>
                    </ul>

                {% elif request.session.user_info.position_id == 1 %}
                    <ul class="dropdown-menu" aria-labelledby="dropdown_button1">
                        <li><a class="dropdown-item" href="{% url 'dep:create' %}">部署</a></li>
                    </ul>
                    <ul class="dropdown-menu" aria-labelledby="dropdown_button1">
                        <li><a class="dropdown-item" href="#">アカウント</a></li>
                    </ul>
                {% endif %}


            </div>
            <div class="col dropdown">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                        id="dropdown_button2" aria-expanded="false">
                    一覧
                </button>
                {% if request.session.user_info.position_id == 6 %}
                    <ul class="dropdown-menu" aria-labelledby="dropdown_button2">
                        <li><a class="dropdown-item" href="{% url 'ringiList:list' "create" %}">作成物</a></li>
                    </ul>
                {% elif request.session.user_info.position_id == 5 %}
                    <ul class="dropdown-menu" aria-labelledby="dropdown_button2">
                        <li><a class="dropdown-item" href="{% url 'ringiList:list' "create" %}">作成物</a></li>
                        <li><a class="dropdown-item" href="{% url 'ringiList:list' "pend" %}">承認待ち</a></li>
                        <li><a class="dropdown-item" href="{% url 'ringiList:list' "pended" %}">承認済み</a></li>
                    </ul>

                {% elif request.session.user_info.position_id <= 4 %}
                    <ul class="dropdown-menu" aria-labelledby="dropdown_button2">
                        <li><a class="dropdown-item" href="{% url 'ringiList:list' "pend" %}">承認待ち</a></li>
                        <li><a class="dropdown-item" href="{% url 'ringiList:list' "pended" %}">承認済み</a></li>
                    </ul>
                {% elif request.session.user_info.position_id == 1 %}
                    <ul class="dropdown-menu" aria-labelledby="dropdown_button2">
                        <li><a class="dropdown-item" href="{% url 'dep:dep-list' %}">部署一覧</a></li>
                    </ul>
                {% endif %}
            </div>
            <div class="col">
                <div class="info_1">user01</div>
                <a href="#" class="info_2">ログアウト</a>
            </div>
        </div>
    </div>
</header>
<main id="main">
    {% block body %}
        {{ request.session.user_info }}
    {% endblock %}
</main>
<footer id="footer">
    <div class="footer_toplink">
        <a href="#header" class="d-flex flex-column justify-content-center">
            トップへ戻る
        </a>
    </div>
    <div class="footer_infodiv">
        <div class="footer_copyright  position-relative">
            <p class="position-absolute top-50 start-50 translate-middle">&copy;2021 morijyobi</p>
            <a href="#" class="position-absolute top-50 end-0 translate-middle">ログアウト</a>
        </div>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'topPage/js/bootstrap.min.js' %}"></script>
<script src="{% static 'topPage/js/bootstrap.min.js.map' %}"></script>
{% block addJS %}{% endblock %}
</body>

</html>