{% extends "topPage/base.html" %}
{% load static %}

{% block content %}
<div class="center">
    <div class="center">
        <!--　1, ログインしてきたユーザの役職はどうやって取得するのか？-->
        {% if {{ user_data }} == 2 %} <!-- 社長だったら -->
            <h1>承認待ち</h1>
            {% for array in president %}
                <form>
                <button onclick="location.href=&quot;{% url 'ringiList:president' array.approval_id %}&quot"> # i.your-argsのところには稟議書のIdが入る。
                    作成者:  {{ array.user.last_name }}{{ array.user.first_name }}
                    件名:  {{ array.title }}
                </button>
                <br>
                </form>
            {% endfor %}
        {% endif %}
        {% if {{ user_data }} == 3 %} <!-- 常務だったら -->
            <h1>承認待ち</h1>
            {% for array in mdirector %}
                <form>
                <button onclick="location.href=&quot;{% url 'ringiList:mdirector' array.approval_id %}&quot"> # i.your-argsのところには稟議書のIdが入る。
                    作成者:  {{ array.user.last_name }}{{ array.user.first_name }}
                    件名:  {{ array.title }}
                </button>
                <br>
                </form>
            {% endfor %}
        {% endif %}
        {% if {{ user_data }} == 4 %} <!-- 部長だったら -->
            <h1>承認待ち</h1>
            {% for array in director %}
                <form>
                <button onclick="location.href=&quot;{% url 'ringiList:director' array.approval_id %}&quot"> # i.your-argsのところには稟議書のIdが入る。
                    作成者:  {{ array.user.last_name }}{{ array.user.first_name }}
                    件名:  {{ array.title }}
                </button>
                <br>
                </form>
            {% endfor %}
        {% endif %}

        {% if {{ user_data }} == 5 %} <!-- 主任だったら-->
            <h1>承認待ち</h1>
            {% for array in chief %}
                <form>
                    <button onclick="location.href=&quot;{%  url 'ringiList:chief' array.approval_id %}&quot">
                        作成者: {{ array.user.last_name }}{{ array.user.first_name }}
                        件名: {{ array.title }}
                    </button>
                    <br>
                </form>

            {% endfor %}
        {% endif %}

        {% if {{ user_data }} == 6 %} <!--　一般社員だったら　-->
            <h1>作成済み</h1>
            {% for array in employee %}
                <form>
                <button onclick="location.href=&quot;{% url 'ringiList:employee' array.approval_id %}&quot">
                    <!--　3, 承認待ちの稟議書だったら個別承認待ちのページ、承認済みだったら個別承認済み稟議書のページに飛ぶ？　-->
                    作成者: {{ array.user.last_name }}{{ array.user.first_name }}
                    件名:  {{ array.title }}
                </button>
                <br>
                </form>
            {%  endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}