@charset 'utf-8';

#body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 110px 1fr 100px;
    gap: 0px 0px;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

#header {
    display: grid;
    grid-template-columns: 1fr 200px 200px;
    grid-template-rows: 110px;
    gap: 0px 0px;
    grid-template-areas:
        ". . .";
    grid-area: header;
}

#header #header_title {
    display: flex;
}

#header #header_title a {
    margin: auto 0 auto 75px;
}

#header #header_select_1,
#header #header_select_2 {
    margin: auto;
    position: relative;
}

#header_create_select::-ms-expand, 
#header_view_select::-ms-expand {
    display: none;
}

#header_create_select, 
#header_view_select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: -webkit;
    position: relative;
    text-align: center;
    cursor: pointer;
    z-index: 2;
}

#header_create_select:focus, 
#header_view_select:focus {
    z-index: -1;
}







#main {
    grid-area: main;
}



#footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 60px;
    gap: 0px 0px;
    grid-template-areas:
        "."
        ".";
    grid-area: footer;
    color: white;
}

#footer #footer_toplink {
    background-color: #37475A;
    text-align: center;
    line-height: 3;
}


#footer #footer_infodiv #footer_copyright div {
    width: 300px;
    margin-right: 0;
    display: inline;
    text-align: center;
}

#footer #footer_infodiv #footer_copyright a {
    float: right;
    height: 60px;
    line-height: 4.3;
    margin-right: 40px;
    position: relative;
    top: -54px;
}

#footer #footer_infodiv #footer_copyright p {
    margin-top: 19px;
}