@charset "utf-8";

#body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 110px 1fr 100px;
    gap: 0px 0px;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

#header {
    display: grid;
    grid-template-columns: 1fr 200px 200px 160px;
    grid-template-rows: 110px;
    gap: 0px 0px;
    grid-template-areas:
        ". . . .";
    grid-area: header;
}

#header #header_title {
    display: flex;
}

#header #header_title a {
    margin: auto 0 auto 75px;
}

/*#header #header_select_1,*/
/*#header #header_select_2 {*/
/*    margin: auto;*/
/*    position: relative;*/
/*}*/

/*#header_create_select::-ms-expand, */
/*#header_view_select::-ms-expand {*/
/*    display: none;*/
/*}*/

/*#header_create_select, */
/*#header_view_select {*/
/*    -webkit-appearance: none;*/
/*    -moz-appearance: none;*/
/*    appearance: none;*/
/*    text-align: -webkit;*/
/*    position: relative;*/
/*    text-align: center;*/
/*    cursor: pointer;*/
/*    z-index: 2;*/
/*}*/

/*#header_create_select:focus, */
/*#header_view_select:focus {*/
/*    z-index: -1;*/
/*}*/


.in_select_div {
	overflow: hidden;
	width: 90%;
	margin: 2em auto;
	text-align: center;
}

.in_select_div select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}

.in_select_div select::-ms-expand {
    display: none;
}

.in_select_div.in_select_div_sub {
	position: relative;
	border: 2px solid #232f3e;
    border-radius: 8px;
	background: #232f3e;
}

.in_select_div.in_select_div_sub::before {
	position: absolute;
	top: 0.8em;
	right: 0.8em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #ffffff;
	pointer-events: none;
}
.in_select_div.in_select_div_sub select {
	padding: 8px 38px 8px 8px;
	color: #ffffff;
    font-size: 24px ;
}

.in_select_div option {
    color: #000000;
}

#header_user_info_div {
    display: grid;
}

#header_user_info_div div,
#header_user_info_div a{
    height: 100%;
    color: white;
    text-align: center;
    line-height: 3.3;
    text-decoration: none;
}

/*#header_user_info_div a {*/
/*    display: block;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    text-decoration: none;*/
/*    color: white;*/
/*    border-bottom: none;*/
/*}*/


#main {
    grid-area: main;
}



#footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 60px;
    gap: 0px 0px;
    grid-template-areas:
        "."
        ".";
    grid-area: footer;
    color: white;
}

#footer #footer_toplink {
    background-color: #37475A;
    text-align: center;
    line-height: 3;
}


#footer #footer_infodiv #footer_copyright div {
    width: 300px;
    margin-right: 0;
    display: inline;
    text-align: center;
}

#footer #footer_infodiv #footer_copyright a {
    float: right;
    height: 60px;
    line-height: 4.3;
    margin-right: 40px;
    position: relative;
    top: -54px;
}

#footer #footer_infodiv #footer_copyright p {
    margin-top: 19px;
}