{% extends 'createRingisyo/base.html' %}
{% load static %}

<html lang="ja">
{% block title %}
    トップページ
{% endblock %}

<head>
    {% block addCSS %}
        <link rel="stylesheet" href="{% static 'createRingisyo/css/check_1.css' %}">
        <link rel="stylesheet" href="{% static 'createRingisyo/css/check_2.css' %}">
        <link rel="stylesheet" href="{% static 'createRingisyo/css/check_3.css' %}">

    {% endblock %}

    <title>トップページ</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/createRingisyo/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/createRingisyo/css/bootstrap.min.css.map">
    <link rel="stylesheet" href="../../static/createRingisyo/css/">

</head>

<body>
{% block body %}
    <div class="overflow">
        <div class="d-gid gap-2">
            <div class="main_div_ringisyo">
                <div class="ringisyo_area">
                    <div class="title_area">
                        <h1>稟議書確認画面</h1>
                    </div>
                    <div class="info_area">
                        <div class="writer_area">
                            <!-- dateに作成日付を自動入力 -->
                            <div class="docs_type">
                                <div>文書種別</div>
                                <div>支払 社長 総額100万円以上、常務取締 総額30万円以上、 部長30万円未満</div>
                            </div>
                            <div class="date">
                                <div>承認期限</div>
                                <div id="date">{{ limit }}</div>
                                <!-- 承認期限を自動入力 -->
                            </div>
                        </div>
                        <div class="info_space"></div>
                        <div class="auth_area">
                            <!-- 作成者から所属部署、部長を自動入力 -->
                            <div class="dep_title">起案部署</div>
                            <div class="dep_name">
                                <div class="dep_1">部署名</div>
                                <div class="dep_2" id="dep_name">{{ user_former.department.department_name }}部
                                </div>
                                <!--部署名を入力-->
                            </div>
                            <div class="person_name">
                                <div class="position_name">
                                    <div class="position_1">責任者</div>
                                    <div></div>
                                    <div></div>
                                    <div class="position_2">記入者</div>
                                </div>
                                <div class="position_person">
                                    <div class="position_person_1">{{ boss_former.last_name }}<br>{{ boss_former.first_name }}
                                    </div>
                                    <!--所属部署の部長名を入力-->
                                    <div></div>
                                    <div></div>
                                    <div class="position_person_2">{{ user_former.last_name }}<br>{{ user_former.first_name }}
                                    </div>
                                    <!--作成者名を入力-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div></div>
                    <div class="docs_title_area">
                        <!-- 稟議書の件名(タイトル) -->
                        <div class="docs_title_input">
                            <div class="left_padding">件名</div>
                            <div class="docs_input">{{ title }}</div>
                        </div>
                        <div class="docs_title_space">
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="pay_info_area">
                        <!-- 賞品総額と商品名を自動入力 -->
                        <div class="pay_all">
                            <div class="left_padding">支払総額</div>
                            <div id="pay_all">{{ pay_all }}</div>
                        </div>
                        <div class="pay_product">
                            <div class="left_padding top_padding">内容:</div>
                            <div id="pay_product">下記の通り申請致しますので、ご決裁いただきたくお願い申し上げます。</div>
                        </div>
                    </div>
                    <div class="trader_info_area">
                        <!-- 商品名と業者名を自動入力 -->
                        <div class="left_padding top_padding"> 1, 商品名:</div>
                        <div class="product_name">{{ p_name }}</div>
                        <!-- 商品名を入力 -->
                        <div class="left_padding top_padding"> 2, 業者名:</div>
                        <div class="trader_name">{{ t_name }}</div>
                        <!-- 業者名を入力 -->
                    </div>
                    <div class="reason_area">
                        <!-- 必要理由を自動入力 -->
                        <div class="left_padding">3, 必要理由</div>
                        <div id="reason_text">{{ reason }}</div>
                        <!-- 必要理由を自動入力 -->
                    </div>
                    <div class="trader_reason_area">
                        <!-- 業者選定理由を入力 -->
                        <div class="left_padding"> 4, 業者選定理由</div>
                        <div id="trader_reason_area">{{ t_reason }}</div>
                        <!-- 業者選定理由を入力 -->
                    </div>
                    <div class="remarks">
                        <!-- 備考を自動入力 -->
                        <div class="left_padding"> 5, 備考</div>
                        <div id="remarks" class="form-group">{{ remarks }}
                        </div>
                        <!-- 備考を自動入力 -->
                    </div>

                    <!-- ボタン部分 -->
                    <div></div>
                    <div class="bottom_area">
                        <div class="approval">
                            <div class="position">主任</div>
                            <div class="position">部長</div>
                            <div class="position">常務取締役</div>
                            <div class="position">社長</div>
                            <div class="decision_1"></div>
                            <div class="decision_2"></div>
                            <div class="decision_3"></div>
                            <div class="decision_4"></div>
                        </div>
                        <!-- 作成時、作成者確認時には不要 -->
                        <div></div>
                        <div class="button">
                            <div class="docs_button">
                                <form action="{% url 'create:create' %}" method="GET">
                                    <button type="submit" id="back">戻る
                                        <input type="text" name="back" value="true" style="display: none">
                                    </button>
                                </form>
                            </div>

                            <div></div>
                            <div class="docs_button">
                                <form action="{% url 'create:check' %}" method="GET">
                                    <button type="submit" name="send" id="send">作成
                                    </button>
                                </form>
                            </div>
                            <div></div>
                            <div></div>
                            <div class="add_button"></div>
                        </div>
                    </div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="../../static/createRingisyo/js/bootstrap.min.js"></script>
<script src="../../static/createRingisyo/js/bootstrap.min.js.map"></script>
{% block addJS %}

{% endblock %}
</body>

</html>
